.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 20px 0px 20px;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
  padding-right:10px ;
}

.address {
  margin-top: 10px;
  width: 130%;
}
.main {
  position: relative;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
tr {
  border: 1px solid #c1c1c1;
}

td {
  padding: 10px;
  margin: 5px;
  text-align: center;
}

th {
  padding: 5px 5px 15px 5px;
  width: 11.1%;
}
th span:nth-child(1){
  padding-right: 5px;
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: fixed;
  bottom: 30px;
}
.footer a {
  margin: 20px 0px 0px 0px;
}
.flex {
  display: flex;
  align-items: center;
}
p{
  margin: 0;
  padding: 0px 10px 0px 10px;
}
.pagination {
  padding: 8px;
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 1px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #fff),
    color-stop(100%, #dcdcdc)
  );
  margin: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons {
  color: #d3d3d3;
  position: relative;
  
}
.icons svg{
  width: 15px;
  height: 15px; 
}
.icons svg:nth-child(1) {
  /* color: red; */
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  padding: 0;
}
.icons svg:nth-child(2) {
  /* color: green; */
  position: absolute;
  top: 9px;
  left: 0;
  width: 15px;
  height: 15px;
  padding: 0;
  
}
.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.select {
  width: 100%;
  height: 35px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
}
.submit{
  text-align: center;
}
.noData{
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  font-weight: bolder;
}
tbody{
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tbody tr td{
  border-bottom: 1px solid #ccc;
}

/* Ajoute une ligne noir en haut et en bas */
tbody tr:first-child td {
  border-top: 1px solid black;
}
tbody tr:last-child td {
  border-bottom: 1px solid black;
}

/* Alterner les backgrounds des lignes de tableau */
tbody tr:nth-child(odd) {
  background-color: #f2f2f2; 
}
tbody tr:nth-child(even) {
  background-color: #ffffff; 
}